html, body {
        margin: 0;
        padding: 0;
		background-color: #E0E4E6;
      }

	  .site{
		background-image:url('images/background.png');
		background-repeat:repeat-x;
		padding-top: 15%;
	  }
	  
      .container{
		width: 70%;
		margin: 0 auto;
		border: 1px #CFCFCF solid;
		padding: 10px;
		overflow: overlay;
		background-color: #E9ECEC;
		color: #293235;
		padding-bottom: 30px;
		height:400px;
	  }
	  
	  .title{
		font-size: 1.5em;
		-webkit-margin-before: 0.83em;
		-webkit-margin-after: 0.83em;
		-webkit-margin-start: 0px;
		-webkit-margin-end: 0px;
		font-weight: bold;
		margin: 0 auto;
		display: block;
		text-align: -webkit-center;
		margin-bottom: 25px;
		margin-top: 5px;
		color: #363E58;
		width:170px;
	  }
	  
	  
	  .navigator{
		width: 215px;
		padding-left: 11%;
		float:left;
	  }
	  
	  .descript{
		width:50%;
		float:right;
	  }
	  
	  #nav_background{
		background-image:url('images/nav_bg.png');
		height:322px;
		width:215px;
	  
	  }
	  
	  .point{
		height:10px;
		width:12px;
		background-image:url('images/point_g.png');
		display: inline-block;
		position: absolute;
	  }
	  
	  
	  /*
	  Here on follows a long list of the position of each point on the map....
	  */
	  #p_01{
		margin-top: 235px;
	  }
	  #p_02{
		margin-top: 142px;
		margin-left: 28px;
	  }
	  #p_03{
		margin-top: 255px;
		margin-left: 34px;
	  }
	  #p_04{
		margin-top: 94px;
		margin-left: 42px;
	  }
	  #p_05{
		margin-top: 198px;
		margin-left: 68px;
	  }
	  #p_06{
		margin-top: 277px;
		margin-left: 71px;
	  }
	  #p_07{
		margin-top: 43px;
		margin-left: 75px;
	  }
	  #p_08{
		margin-top: 143px;
		margin-left: 62px;
	  }
	  #p_09{
		margin-top: 253px;
		margin-left: 97px;
	  }
	  #p_10{
		margin-top: 294px;
		margin-left: 109px;
	  }
	  #p_11{
	  margin-top: 18px;
		margin-left: 116px;
	  }
	  #p_12{
		margin-top: 67px;
		margin-left: 131px;
	  }
	  #p_13{
		margin-top: 94px;
		margin-left: 87px;
	  }
	  #p_14{
		margin-top: 94px;
		margin-left: 105px;
	  }
	  #p_15{
		margin-top: 141px;
		margin-left: 119px;
	  }
	  #p_16{
		margin-top: 143px;
		margin-left: 103px;
	  }
	  #p_17{
		margin-top: 185px;
		margin-left: 108px;
	  }
	  #p_18{
		margin-top: 222px;
		margin-left: 124px;
	  }
	  #p_19{
		margin-top: 234px;
		margin-left: 130px;
	  }
	  #p_20{
		margin-top: 248px;
		margin-left: 110px;
	  }
	  #p_21{
		margin-top: 264px;
		margin-left: 118px;
	  }
	  #p_22{
		margin-top: 251px;
		margin-left: 141px;
	  }
	  #p_23{
		margin-top: 217px;
		margin-left: 139px;
	  }
	  #p_24{
		margin-top: 244px;
		margin-left: 154px;
	  }
	  #p_25{
		margin-top: 303px;
		margin-left: 166px;
	  }
	  #p_26{
		margin-top: 307px;
		margin-left: 186px;
	  }
	  #p_27{
		margin-left: 150px;
	  }
	  #p_28{
		margin-top: 57px;
		margin-left: 164px;
	  }
	  #p_29{
		margin-top: 139px;
		margin-left: 131px;
	  }
	  #p_30{
		margin-top: 132px;
		margin-left: 161px;
	  }
	  #p_31{
		margin-top: 124px;
		margin-left: 174px;
	  }
	  #p_32{
		margin-top: 160px;
		margin-left: 140px;
	  }
	  #p_33{
		margin-top: 205px;
		margin-left: 156px;
	  }
	  #p_34{
		margin-top: 161px;
		margin-left: 190px;
	  }
	  #p_35{
		margin-top: 198px;
		margin-left: 192px;
	  }
	  #p_36{
		margin-top: 227px;
		margin-left: 197px;
	  }
